* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #edcb54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    width: 100px;
    height: 100px;
    border-radius: 100%; 
    grid-column: 2 / 3;

    transition: all 2s ease-in-out; 
}

.navbar .logo:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.navbar .menu {
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-between;

}

.navbar .menu li {
    padding: 5px;
    margin: 10px;
    list-style: none;
    border: solid 1px #181818;
    border-radius: 20px;
    font-size: 1.5em;

    transition: all .5s ease-in-out;
}

.navbar .menu li:hover {
    background-color: #181818;
    color: #edcb54;
    border: solid 1px #181818;
    /* transform: scale(1.2,1); */
    
}

.navbar .menu a {
    text-decoration: none;
    color: #181818;
    cursor: pointer; 
}

.navbar .menu a:hover {
    color: #edcb54;
}

.navbar .menu-bar {
    display: none;
}

.navbar .shopping {
    padding: 20px;  
    grid-column: 8 / 9;
    text-align: center;
    justify-content: center;
}

/* Section Main */

.hero { 
    height: 100vh; 
    background-image: url(../img/fermentadores.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;    
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

.hero .info-content { 
    grid-column: 6 / 10;
    grid-row: 2 / 7;
    color: whitesmoke;
}

.hero h3 {
    font-family: 'montserrat', sans sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.hero h1 {
    font-size: 5em;
    font-weight: 900;
    color: #edcb54;
}

.hero p {
    font-weight: 400;
    font-family: 'montserrat', sans sans-serif;
}

.hero .btn { 
    font-size: 1em;
    background: none;
    color: whitesmoke;
    padding: 10px 20px;
    border: solid 1px #edcb54;
    border-radius: 30px;
    margin-top: 10px;
}

.hero .btn:hover {
    background-color: #edcb54;
    color: #181818;
}

/* Footer */

.footer {
    padding: 0px;
    margin: 0px;
    display: grid;
    height: 80px;
    align-items: center;
    background-color: #181818;
    color: whitesmoke;
    grid-template-areas: 
    'derechos redes-sociales';
    font-size: 1em;
}

.footer .derechos {
    grid-template-areas: derechos;
    display: flex;
    justify-content: center;
    background-color: #edcb54; 
    padding: 26px;
    color: #181818;
}

.footer .derechos .fas { 
    font-size: 1.5em;
    margin-right: 15px;
}

.footer .reder-sociales {
    grid-template-areas: redes-sociales;
    text-align: center; 
    font-size: 3em;
    
}

.footer .reder-sociales .fab {
    margin-right: 20px;
    color: #edcb54;
}

.footer .reder-sociales .fab:hover {
    font-size: 3em;
    color: whitesmoke;
}